<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title *ngIf="Language == 'English'">Monthly Book</ion-title>
    <ion-title *ngIf="Language == 'Malayalam'">മാസ കണക്ക്</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card color="warning" style="height: 160px;">
    <ion-item style="color: black; font-size: x-large; font-weight: 100;text-align: center;">
      <ion-datetime value="date" displayFormat="MMM-YYYY" [(ngModel)]="date" (ionChange)="GetMonthlybook()" placeholder="Select Date"></ion-datetime>
    </ion-item>
  <div class="row" style="padding-top: 20px;font-size: 30px;" >
    <table class="table table-bordered" width="100%" cellspacing="0">
      <thead class="thead-dark" style="color: blue;">
        <tr *ngIf="Language == 'English'">
          <th>Debit</th>
          <th>Credit</th>
        </tr>
        <tr *ngIf="Language == 'Malayalam'">
          <th>വരവ്</th>
          <th>ചിലവ്</th>
        </tr>
      </thead>
      <tbody>
        <ng-container>
          <tr style="text-align: center;">
            <td><img src="../../../assets/icon/rupee.png" style="width: 20pxpx;height: 23px;">{{totaldebit}}</td>
            <td><img src="../../../assets/icon/rupee.png" style="width: 20px;height: 23px;">{{totalcredit}}</td>
          </tr>
        </ng-container>
      </tbody>
    </table>
  </div>
  </ion-card>
  <!-- <div  style="display: block; width: 200px; height: 200px;"> -->
    <canvas width="1000" height="1000" baseChart [data]="doughnutChartData" [labels]="doughnutChartLabels" [colors]="colors"
      [chartType]=" doughnutChartType">
    </canvas>
  <!-- </div> -->
</ion-content>
