#grad1 {
    background-color: rgb(63, 211, 211); /* For browsers that do not support gradients */
    background-image: linear-gradient(to bottom right, rgb(63, 211, 211), rgb(83, 231, 140)); /* Standard syntax (must be last) */
  }
.ionback {
    background-color: rgb(63, 211, 211); /* For browsers that do not support gradients */
    background-image: linear-gradient(to bottom right, rgb(63, 211, 211), rgb(83, 231, 140)); /* Standard syntax (must be last) */
}